<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wepact.dfm.customize.mapper.MoreKnowledgeRegionMapper">
  <resultMap id="BaseResultMap" type="cn.wepact.dfm.generator.entity.KnowledgeRegion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="knowledge_id" jdbcType="INTEGER" property="knowledgeId" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
  </resultMap>
  <delete id="delectByKnowledgeId">
  	DELETE FROM `t_knowledge_region` WHERE knowledge_id =#{id} 
  </delete>
</mapper>