<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wepact.dfm.generator.mapper.CallcenterWebCustomerSettingMapper">
  <resultMap id="BaseResultMap" type="cn.wepact.dfm.generator.entity.CallcenterWebCustomerSetting">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="web_customer_flg" jdbcType="VARCHAR" property="webCustomerFlg" />
    <result column="non_instant_consultation" jdbcType="VARCHAR" property="nonInstantConsultation" />
    <result column="queue_prompt" jdbcType="VARCHAR" property="queuePrompt" />
    <result column="welcome_msg" jdbcType="VARCHAR" property="welcomeMsg" />
    <result column="service_timeout" jdbcType="INTEGER" property="serviceTimeout" />
    <result column="service_timeout_msg" jdbcType="VARCHAR" property="serviceTimeoutMsg" />
    <result column="visitor_timeout" jdbcType="INTEGER" property="visitorTimeout" />
    <result column="visitor_timeout_msg" jdbcType="VARCHAR" property="visitorTimeoutMsg" />
    <result column="visitor_timeout_repeat" jdbcType="INTEGER" property="visitorTimeoutRepeat" />
    <result column="visitor_timeout_repeat_interval" jdbcType="INTEGER" property="visitorTimeoutRepeatInterval" />
    <result column="conversation_transfer_prompt" jdbcType="VARCHAR" property="conversationTransferPrompt" />
    <result column="conversation_accept_prompt" jdbcType="VARCHAR" property="conversationAcceptPrompt" />
    <result column="service_disconnect_prompt" jdbcType="VARCHAR" property="serviceDisconnectPrompt" />
    <result column="visitor_disconnect_prompt" jdbcType="VARCHAR" property="visitorDisconnectPrompt" />
    <result column="service_session_close_prompt" jdbcType="VARCHAR" property="serviceSessionClosePrompt" />
    <result column="visitor_session_close_prompt" jdbcType="VARCHAR" property="visitorSessionClosePrompt" />
    <result column="system_close_sesson_prompt" jdbcType="VARCHAR" property="systemCloseSessonPrompt" />
    <result column="non_worktime_prompt" jdbcType="VARCHAR" property="nonWorktimePrompt" />
    <result column="sensitive_words_prompt" jdbcType="VARCHAR" property="sensitiveWordsPrompt" />
    <result column="sensitive_words_screening_way" jdbcType="VARCHAR" property="sensitiveWordsScreeningWay" />
  </resultMap>
</mapper>