<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wepact.dfm.generator.mapper.KnowledgeCategoryMapper">
  <resultMap id="BaseResultMap" type="cn.wepact.dfm.generator.entity.KnowledgeCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="updator_name" jdbcType="VARCHAR" property="updatorName" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
</mapper>